@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  background: #212121;
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
  margin: 0;
  font-family: "Familjen Grotesk", sans-serif;
}

.recortado {
  max-width: 1400px;
}

.cuerpo {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .cuerpo {
    width: 95%;
    padding: 0 auto;
  }
}
.render-link, .render-link:link, .render-link:visited {
  text-decoration: none;
  color: transparent;
  font-weight: 800;
  color: red;
  position: relative;
}
.render-link::after, .render-link:link::after, .render-link:visited::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: red;
  transform: scaleY(0);
  transform-origin: left center;
  transition: transform 0.3s;
}
.render-link:hover, .render-link:link:hover, .render-link:visited:hover {
  cursor: pointer;
}
.render-link:hover::after, .render-link:link:hover::after, .render-link:visited:hover::after {
  transform: scaleY(1);
}

.noSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button, .button, .button:link, .button:visited {
  text-decoration: none;
  border-radius: 8px;
  outline: none;
  border: none;
  outline: none;
  padding: 5px 20px;
  color: white;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 16px;
  height: 44px;
  position: relative;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  background-color: #9a74ec;
  transition: background-color 0.1s linear;
}
button:hover, .button:hover, .button:link:hover, .button:visited:hover {
  cursor: pointer;
  background-color: rgba(154, 116, 236, 0.8);
}
button:hover::after, .button:hover::after, .button:link:hover::after, .button:visited:hover::after {
  opacity: 1;
}
button:disabled, .button:disabled, .button:link:disabled, .button:visited:disabled {
  background: gray !important;
}
button:disabled::before, button:disabled::after, .button:disabled::before, .button:disabled::after, .button:link:disabled::before, .button:link:disabled::after, .button:visited:disabled::before, .button:visited:disabled::after {
  all: unset !important;
}
button:disabled:hover, .button:disabled:hover, .button:link:disabled:hover, .button:visited:disabled:hover {
  cursor: default;
}
button.whiteBlack, .button.whiteBlack, .button:link.whiteBlack, .button:visited.whiteBlack {
  background: #222222 !important;
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF;
  transition: all 0.2s linear !important;
}
button.whiteBlack::before, button.whiteBlack::after, .button.whiteBlack::before, .button.whiteBlack::after, .button:link.whiteBlack::before, .button:link.whiteBlack::after, .button:visited.whiteBlack::before, .button:visited.whiteBlack::after {
  all: unset !important;
}
button.whiteBlack:hover, .button.whiteBlack:hover, .button:link.whiteBlack:hover, .button:visited.whiteBlack:hover {
  background: #FFFFFF !important;
  color: #212121 !important;
}
button.blancoRojo, .button.blancoRojo, .button:link.blancoRojo, .button:visited.blancoRojo {
  background: #FFFFFF !important;
  color: #c70a0a !important;
  border: 0;
  transition: all 0.2s linear !important;
}
button.blancoRojo::before, button.blancoRojo::after, .button.blancoRojo::before, .button.blancoRojo::after, .button:link.blancoRojo::before, .button:link.blancoRojo::after, .button:visited.blancoRojo::before, .button:visited.blancoRojo::after {
  all: unset !important;
}
button.blancoRojo:hover, .button.blancoRojo:hover, .button:link.blancoRojo:hover, .button:visited.blancoRojo:hover {
  background: #c70a0a !important;
  color: #FFFFFF !important;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=search],
input[type=date],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week] {
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  font-family: "Familjen Grotesk", sans-serif;
  background: #222222;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
input[type=text][type=password],
input[type=password][type=password],
input[type=number][type=password],
input[type=email][type=password],
input[type=url][type=password],
input[type=tel][type=password],
input[type=search][type=password],
input[type=date][type=password],
input[type=time][type=password],
input[type=datetime][type=password],
input[type=datetime-local][type=password],
input[type=month][type=password],
input[type=week][type=password] {
  letter-spacing: 0.2em;
}
input[type=text][type=password]:placeholder-shown,
input[type=password][type=password]:placeholder-shown,
input[type=number][type=password]:placeholder-shown,
input[type=email][type=password]:placeholder-shown,
input[type=url][type=password]:placeholder-shown,
input[type=tel][type=password]:placeholder-shown,
input[type=search][type=password]:placeholder-shown,
input[type=date][type=password]:placeholder-shown,
input[type=time][type=password]:placeholder-shown,
input[type=datetime][type=password]:placeholder-shown,
input[type=datetime-local][type=password]:placeholder-shown,
input[type=month][type=password]:placeholder-shown,
input[type=week][type=password]:placeholder-shown {
  letter-spacing: 0;
}

.hasError {
  border: 1px solid #c70a0a !important;
}

select {
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  font-family: "Familjen Grotesk", sans-serif;
  background: #222222;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
select:hover {
  cursor: pointer;
}

.popupMessage {
  z-index: 999;
  opacity: 0;
  position: fixed;
  background-color: #FFFFFF;
  color: #212121;
  max-width: 350px;
  padding: 13px;
  top: -50px;
  right: 10px;
  border-radius: 3px;
  transition: all 0.1s linear;
}
.popupMessage::first-letter {
  text-transform: capitalize;
}
.popupMessage.show {
  top: 10px;
  opacity: 1;
}
.popupMessage.hide {
  top: -100px;
  opacity: 0;
}
.popupMessage.type-error {
  background-color: #c70a0a;
  color: white;
}
.popupMessage.type-success {
  background-color: #23A55A;
  color: white;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.option .content {
  padding: 10px 30px;
}
.option .content .colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-gap: 15px;
}
.option .content .colors .color {
  width: 75px;
  height: 75px;
  border-radius: 6px;
  position: relative;
  transition: all 0.1s linear;
}
.option .content .colors .color > .background {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: 2px;
  transition: all 0.1s linear;
}
.option .content .colors .color:not(.noInteraction).selected > .background {
  outline-color: #9a74ec;
}
.option .content .colors .color:not(.noInteraction):not(.new):not(.selected) > .background:hover {
  outline-color: rgba(154, 116, 236, 0.5);
  cursor: pointer;
}
.option .content .colors .color > .delete {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #c70a0a;
  background: #222222;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.option .content .colors .color > .delete > svg {
  width: 14px;
  fill: #FFFFFF;
}
.option .content .colors .color > .delete:hover {
  cursor: pointer;
  background: #c70a0a;
}
.option .content .colors .color > .delete:hover svg {
  fill: white !important;
}
.option .content .colors .color.new {
  border: 2px dashed #9a74ec;
  color: #9a74ec;
  opacity: 0.7;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  line-height: 2em;
}
.option .content .colors .color.new:hover {
  cursor: pointer;
  opacity: 1;
}
.option .content .gradients {
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  grid-gap: 15px;
}
.option .content .gradients .gradient {
  width: 125px;
  height: 75px;
  border-radius: 6px;
  position: relative;
  transition: all 0.1s linear;
}
.option .content .gradients .gradient > .background {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: 2px;
  transition: all 0.1s linear;
}
.option .content .gradients .gradient:not(.noInteraction).selected > .background {
  outline-color: #9a74ec;
}
.option .content .gradients .gradient:not(.noInteraction):not(.new):not(.selected) > .background:hover {
  outline-color: rgba(154, 116, 236, 0.5);
  cursor: pointer;
}
.option .content .gradients .gradient > .delete {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #c70a0a;
  background: #222222;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.option .content .gradients .gradient > .delete > svg {
  width: 14px;
  fill: #FFFFFF;
}
.option .content .gradients .gradient > .delete:hover {
  cursor: pointer;
  background: #c70a0a;
}
.option .content .gradients .gradient > .delete:hover svg {
  fill: white !important;
}
.option .content .gradients .gradient > .edit {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #c70a0a;
  background: #222222;
  position: absolute;
  top: -10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.option .content .gradients .gradient > .edit > svg {
  width: 14px;
  fill: #FFFFFF;
}
.option .content .gradients .gradient > .edit:hover {
  cursor: pointer;
  background: #9a74ec;
}
.option .content .gradients .gradient > .edit:hover svg {
  fill: white !important;
}
.option .content .gradients .gradient.new {
  border: 2px dashed #9a74ec;
  color: #9a74ec;
  opacity: 0.7;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  line-height: 2em;
}
.option .content .gradients .gradient.new:hover {
  cursor: pointer;
  opacity: 1;
}
.option > .checkLine {
  display: flex;
  align-items: center;
}
.option > .checkLine .checkbox {
  margin-right: 0.3em;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  overflow: hidden;
}
.option > .checkLine .checkbox .on > svg, .option > .checkLine .checkbox .off > svg {
  width: 1.25em;
  height: 1.25em;
  fill: #9a74ec;
}
.option > .checkLine .checkbox .off > svg {
  fill: #bbbbbb;
}
.option > .checkLine .checkbox .on {
  display: none;
}
.option > .checkLine .checkbox .off {
  display: block;
}
.option.active > .checkLine > .checkbox > .on {
  display: block;
}
.option.active > .checkLine > .checkbox > .off {
  display: none;
}
.option.active > .checkLine > .text {
  color: #FFFFFF;
  position: relative;
}
.option.active > .checkLine > .text::after {
  content: "- Active";
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  color: #9a74ec;
}
.option:not(.active) > .checkLine > .text {
  color: #bbbbbb;
}
.option:not(.active) > .checkLine, .option:not(.active) > .checkLine > *:hover {
  cursor: pointer;
}
.option:not(.active) > .content {
  display: none;
}
.option .checkLine > .text {
  color: #FFFFFF;
}
.option .checkLine > .text:hover {
  cursor: pointer;
}
.option .checkLine, .option .checkLine > *:hover {
  cursor: default;
}

.darker {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.95);
  z-index: 998;
  display: none;
}
.darker.show {
  display: block;
}

.modal {
  position: fixed;
  width: 500px;
  background-color: #222222;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
}
.modal .title {
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: bold;
}
.modal .subtitle {
  color: #bbbbbb;
  font-weight: lighter;
  margin-bottom: 5px;
}
.modal .doubleButton {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.modal .gradientNote {
  font-size: 0.9em;
  color: #9a74ec;
}
.modal .gradientNote:hover {
  cursor: pointer;
  text-decoration: underline;
}
.modal .inputBox {
  width: 100%;
  display: flex;
  padding: 2px 20px;
}
.modal .inputBox > .text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 150px;
  color: #FFFFFF;
}
.modal .inputBox > *:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal .inputBox > *:nth-child(2) > input {
  width: 80%;
}
.modal .inputBox .note {
  padding-left: 10px;
  font-size: 0.75rem;
}

.inputBox {
  width: 100%;
  display: flex;
  padding: 2px 0;
}
.inputBox > .text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 150px;
  color: #FFFFFF;
}
.inputBox > *:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.inputBox > *:nth-child(2) > input {
  width: 80%;
}
.inputBox .note {
  padding-left: 10px;
  font-size: 0.75rem;
}

input[type=range]:hover {
  cursor: pointer;
}

#newGradientModal > .modal {
  color: #FFFFFF;
}
#newGradientModal > .modal .gradientPreview {
  border: 2px dashed rgba(154, 116, 236, 0.8);
  width: 100%;
  height: 50px;
}
#newGradientModal > .modal .hexCodes {
  margin-top: 0;
  width: auto;
  list-style-type: none;
  padding: 0;
}
#newGradientModal > .modal .hexCodes li.hexCode {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
#newGradientModal > .modal .hexCodes li.hexCode .drag {
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}
#newGradientModal > .modal .hexCodes li.hexCode .drag svg {
  width: 30px;
  fill: #bbbbbb;
  transition: all 0.1s linear;
}
#newGradientModal > .modal .hexCodes li.hexCode .drag:hover {
  cursor: move;
}
#newGradientModal > .modal .hexCodes li.hexCode .drag:hover svg {
  fill: #FFFFFF;
}
#newGradientModal > .modal .hexCodes li.hexCode .remove {
  padding: 3px 2px;
  background: #181818;
  border-radius: 5px;
  transition: all 0.1s linear;
  height: auto;
}
#newGradientModal > .modal .hexCodes li.hexCode .remove svg {
  transition: all 0.1s linear;
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
#newGradientModal > .modal .hexCodes li.hexCode .remove:hover {
  cursor: pointer;
  background: #c70a0a;
}
#newGradientModal > .modal .hexCodes li.hexCode .remove:hover svg {
  fill: white;
}
#newGradientModal > .modal .hexCodes li.addColorToGradient {
  color: #9a74ec;
}
#newGradientModal > .modal .hexCodes li.addColorToGradient:hover {
  cursor: pointer;
  text-decoration: underline;
}

#brightnessVisual {
  color: #FFFFFF;
}

.stats {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 7.5px));
  grid-gap: 15px;
}
.stats > .stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: #1E1E1E;
  border-radius: 10px;
  padding: 20px 0;
}
.stats > .stat .graph {
  width: 150px;
  height: 125px;
}
.stats > .stat .graph > svg > .text-container > .value-text {
  font-size: 0.8em;
}
.stats > .stat .graph > svg > path {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.stats > .stat .graph > .gauge > .dial {
  stroke: #334455;
  stroke-width: 2;
  /*stroke-dasharray: 125, 20;*/
}
.stats > .stat .graph > .gauge > .value {
  stroke: #FFFFFF;
  stroke-width: 5;
  /*stroke-dasharray: 125, 20;*/
}
.stats > .stat .graph > .gauge > .value-text {
  fill: #FFFFFF;
}
.stats > .stat .graph.good > .gauge > .value {
  stroke: #23A55A;
}
.stats > .stat .graph.good > .gauge > .value-text {
  fill: #23A55A;
}
.stats > .stat .graph.warning > .gauge > .value {
  stroke: #fffb00;
}
.stats > .stat .graph.warning > .gauge > .value-text {
  fill: #fffb00;
}
.stats > .stat .graph.danger > .gauge > .value {
  stroke: #c70a0a;
}
.stats > .stat .graph.danger > .gauge > .value-text {
  fill: #c70a0a;
}
.stats > .stat .text {
  color: #FFFFFF;
  font-size: 1.25em;
}

@media (max-width: 650px) {
  .stats {
    grid-template-columns: repeat(1, 100%) !important;
    grid-gap: 5px;
  }
}
.categories {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.categories > .category {
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px dashed rgba(154, 116, 236, 0.2);
  border-radius: 5px;
  background: #212121;
}
.categories > .category:nth-last-child(1) {
  margin-top: 50px;
  border: 2px dashed rgba(199, 10, 10, 0.1);
  background: rgba(199, 10, 10, 0.1);
}
.categories > .category > .title {
  font-family: "Familjen Grotesk", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  margin-right: auto;
  margin-bottom: 0.1em;
}
.categories > .category > .details {
  font-size: 0.85em;
  color: #bbbbbb;
  margin-bottom: 0.5em;
}
.categories > .category > .content {
  padding: 0px 20px;
}
.categories > .category > button {
  margin: 0 auto;
  margin-top: 5px;
}
.categories > .category label {
  color: #bbbbbb;
}
.categories > .category.UserInfo .avatar {
  width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 0.25rem;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}
.categories > .category.UserInfo .note {
  flex: 2;
}
.categories > .category.SystemStats .note {
  display: none;
  color: #c70a0a;
  font-size: 14px;
}
.categories > .category.SystemStats:not(:has(*:checked)) .note {
  display: block;
}
.categories > .category.SessionSettings .note {
  margin: 0.5em 0;
  text-align: center;
  padding-left: 10px;
  font-size: 0.75rem;
  color: #c70a0a;
}
.categories > .category .inputBox {
  width: 100%;
  display: flex;
  padding: 2px 0;
}
.categories > .category .inputBox > .text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 150px;
}
.categories > .category .inputBox > *:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.categories > .category .inputBox > *:nth-child(2) > input {
  width: 80%;
}
.categories > .category .inputBox .note {
  padding-left: 10px;
  font-size: 0.75rem;
}

input[type=checkbox]:hover, input[type=radio]:hover {
  cursor: pointer;
}
input[type=checkbox]:hover:disabled, input[type=radio]:hover:disabled {
  cursor: not-allowed;
}

input[type=checkbox]:disabled + label:hover, input[type=radio]:disabled + label:hover {
  cursor: not-allowed !important;
}

label {
  box-sizing: border-box;
  margin-left: 0;
  color: #FFFFFF;
}
label:hover {
  cursor: pointer;
}

.saveButton:not(.deletion) {
  margin: auto;
  margin-bottom: 0;
}

.content.themeOptions {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.content.themeOptions .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  width: 150px;
  height: 100px;
  border: 2px solid rgba(154, 116, 236, 0.2);
  border-radius: 6px;
  padding: 10px;
  transition: background-color 0.1s linear;
}
.content.themeOptions .option .image {
  width: 120px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.content.themeOptions .option .title {
  color: #FFFFFF;
}
.content.themeOptions .option.selected {
  background-color: rgba(154, 116, 236, 0.1);
}
.content.themeOptions .option:not(.selected):hover {
  cursor: pointer;
  background-color: rgba(154, 116, 236, 0.05);
}

body {
  background-color: #181818;
  background-image: radial-gradient(rgba(154, 116, 236, 0.5) 1px, transparent 0);
  background-size: 15px 15px;
  background-position: -19px -19px;
}
body > .title {
  text-align: center;
  margin: 30px 0;
  margin-bottom: 0;
}
body > .title > a {
  text-decoration: none;
  color: #9a74ec;
}
body > .subtitle {
  text-decoration: none;
  color: #bbbbbb;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}
body > .mainContent {
  margin: 0 auto;
  height: 100%;
  display: flex;
  max-width: 1000px !important;
  padding-top: 20px;
}
body > .mainContent > .leftNav {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
body > .mainContent > .leftNav > .element {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
  padding: 0.6em 22px;
  box-sizing: border-box;
  background: #222222;
}
body > .mainContent > .leftNav > .element, body > .mainContent > .leftNav > .element * {
  text-decoration: none !important;
}
body > .mainContent > .leftNav > .element.upperRadius {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
body > .mainContent > .leftNav > .element.lowerRadius {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
body > .mainContent > .leftNav > .element.active {
  background: #181818 !important;
}
body > .mainContent > .leftNav > .element:not(.user) {
  transition: background 0.1s linear;
}
body > .mainContent > .leftNav > .element:not(.user) > .icono {
  width: 40px;
  height: 40px;
  background: rgba(154, 116, 236, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
  --svg: #855CDE;
  border-radius: 0.25rem;
}
body > .mainContent > .leftNav > .element:not(.user) > .texto {
  color: #FFFFFF;
  flex: 1;
}
body > .mainContent > .leftNav > .element:not(.user):hover {
  background: #1E1E1E;
}
body > .mainContent > .leftNav > .element:not(.user):nth-last-child(2) {
  margin-top: auto;
}
body > .mainContent > .leftNav > .element:not(.user).logOut > .icono {
  --rojo:rgb(201 0 0);
  background: rgba(199, 10, 10, 0.08);
}
body > .mainContent > .leftNav > .element.user {
  cursor: default;
}
body > .mainContent > .leftNav > .element.user > .avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.25rem;
  position: relative;
}
body > .mainContent > .leftNav > .element.user > .avatar::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #23A55A;
  bottom: -3px;
  right: -3px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
body > .mainContent > .leftNav > .element.user > .texts {
  display: flex;
  flex-direction: column;
  height: 40px;
}
body > .mainContent > .leftNav > .element.user > .texts > .username {
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Familjen Grotesk", sans-serif;
}
body > .mainContent > .leftNav > .element.user > .texts > .status {
  font-size: 14px;
  color: #bbbbbb;
}
body > .mainContent > .rightNav {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  flex: 1;
  background-color: #222222;
  border-radius: 15px;
  padding: 20px 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  margin-left: 15px;
  height: calc(100vh - 170px);
  overflow: hidden;
  overflow-y: auto;
}
body > .mainContent > .rightNav > *:not(.darker) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
body > .mainContent > .rightNav > *:not(.darker) > .title {
  font-family: "Familjen Grotesk", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  height: 25px;
  color: #9a74ec;
  margin-right: auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > .mainContent > .rightNav > *:not(.darker) > .title .icono {
  line-height: 25px;
  height: 25px;
  margin-right: 5px;
  display: inline-block;
  --svg:#855CDE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}

/*# sourceMappingURL=panel.css.map */
