{{ define "SystemStats.html" }}
	<div class="systemStatsPane">
		<div class="title"><div class="icono"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="var(--svg)"><path d="M13 12.414v-12.364c6.158.51 11 5.66 11 11.95 0 6.627-5.373 12-12 12-2.953 0-5.654-1.072-7.744-2.842l8.744-8.744zm-2-12.364c-6.158.51-11 5.66-11 11.95 0 2.954 1.072 5.654 2.842 7.745l1.42-1.42c-1.412-1.725-2.262-3.928-2.262-6.325 0-5.177 3.953-9.446 9-9.949v-2.001z"/></svg></div>System stats</div>
		
		<div class="stats">
			{{- if index .UserConfiguration.SystemStats 0 -}}
				<div class="stat">
					<div class="graph good" id="graph0"></div>
					<div class="text">Temperature</div>
				</div>
			{{- end -}}
			{{- if index .UserConfiguration.SystemStats 1 -}}
				<!-- <div id="gauge3" class="gauge-container three"></div> -->
				<div class="stat">
					<div class="graph warning" id="graph1"></div>
					<div class="text">CPU Usage</div>
				</div>
			{{- end -}}
			{{- if index .UserConfiguration.SystemStats 2 -}}
				<div class="stat">
					<div class="graph danger" id="graph2"></div>
					<div class="text">RAM Usage</div>
				</div>
			{{- end -}}
			{{- if index .UserConfiguration.SystemStats 3 -}}
				<div class="stat">
					<div class="graph" id="graph3"></div>
					<div class="text">Disk Space</div>
				</div>
			{{- end -}}
			{{- if index .UserConfiguration.SystemStats 4 -}}
				<div class="stat">
					<div class="graph" id="graph4"></div>
					<div class="text">System uptime</div>
				</div>
			{{- end -}}
		</div>
	</div>
	<script src="/static/js/panels/SystemStats.js"></script>
{{ end }}