.categories {
	color:$textPrimary;
	
	display:flex;
	flex-direction: column;
	gap:15px;

	& > .category {
		background: $bg-2;
		
		width:100%;
		padding:10px 20px;
		box-sizing: border-box;
		
		display:flex;
		flex-direction: column;

		border: 2px dashed rgba($accent, 0.2);
		border-radius: 5px;

		&:nth-last-child(1) {
			background: rgba($error, .1);

			margin-top:50px;

			border: 2px dashed rgba($error, .1);
		}
	
		& > .title {
			color:$textPrimary;

			margin-right:auto;
			margin-bottom:.1em;

			font-family: "Familjen Grotesk", sans-serif;
			font-weight: bold;
			font-size:22px;
		}

		& > .details {
			color:$textPrimary2;
			
			margin-bottom:.5em;

			font-size:.85em;
		}

		& > .content {
			padding:0px 20px;
		}
		
		& > button {
			margin:0 auto;
			margin-top:5px;
		}

		label {
			color:$textPrimary2;
		}


		&.UserInfo {
			.avatar {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				width:50px;
				max-width: 50px;
				height:50px;
				border-radius:.25rem;

				display:inline-block;

				flex:1;
			}

			.note {
				flex:2;
			}
		}

		&.SystemStats {
			.note {
				color:$error;

				display:none;
				
				font-size: 14px;
			}

			&:not(:has(*:checked)) {
				.note {
					display:block;
				}
			}
		}

		&.SessionSettings {
			.note {
				color:$error;

				padding-left:10px;
				margin:.5em 0;

				text-align: center;
				font-size:.75rem;
			}
		}

		&.Updates {
			.note {
				color:$textPrimary2;
			}
			.errorNote {
				color:$error;
			}
		}

		.inputBox {
			width:100%;

			padding:2px 0;

			display:flex;

			& > .text {
				min-width:150px;

				display:flex;
				align-items: center;
				justify-content: flex-start;
			}

			& > *:nth-child(2) {
				flex:1;
				display:flex;
				align-items: center;
				justify-content: flex-start;

				& > input {
					width:80%;
				}
			}

			.note {
				padding-left:10px;

				font-size:.75rem;
			}
		}
	}
}

input[type="checkbox"], input[type="radio"] {
	&:hover {
		cursor:pointer;

		&:disabled {
			cursor:not-allowed;
		}
	}
}

input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label {
	&:hover {
		cursor:not-allowed !important;
	}
}

label {
	box-sizing: border-box;
	margin-left: 0;
	color:$textPrimary;

	&:hover {
		cursor:pointer;
	}
}

.saveButton:not(.deletion) {
	margin:auto;
	margin-bottom:0;
}

.content.themeOptions {
	display:flex;
	justify-content: center;
	gap:25px;

	.option {
		background-color:$bg-1;

		width:150px;
		height:100px;
		padding:10px;

		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		border:2px solid rgba($accent, 0.2);
		border-radius:6px;

		transition:background-color .1s linear;

		.image {
			background-size: contain;
			background-position:center;
			background-repeat: no-repeat;

			width:120px;
			height:100%;
			border-radius: 5px;
		}

		.title {
			color:$textPrimary;
		}

		&.selected {
			background-color:rgba($accent, 0.1);
		}

		&:not(.selected):hover {
			cursor:pointer;
			background-color:rgba($accent, 0.05);
		}
	}
}