$background: #101010;
$background2: #171717;
$background3: #222222;
$background4:#303030;
$white:#FFFFFF;
$white2:#bbbbbb;
$accent: #fdc830;
$accent2:#f37335;
$error:#c70a0a;
$success:#23A55A;
$online:#23A55A;