.option {
	width:100%;
	display:flex;
	flex-direction: column;
	margin-bottom:10px;

	.content {
		padding:10px 30px;

		.colors {
			display:grid;
			grid-template-columns: repeat(auto-fill, 75px);
			grid-gap: 15px;

			.color {
				width:75px;
				height:75px;
				border-radius:6px;
				position:relative;
				transition: all .1s linear;

				& > .background {
					width:100%;
					height:100%;
					border-radius:6px;
					outline: 2px solid rgba(0, 0, 0, 0);
					outline-offset: 2px;
					transition: all .1s linear;
				}

				&:not(.noInteraction){
					&.selected > .background {
						outline-color:$accent;
					}
	
					&:not(.new):not(.selected) > .background:hover {
						outline-color:rgba($accent, .5);
						cursor:pointer;
					}
				}

				& > .delete {
					width:20px;
					height:20px;
					border-radius: 100%;
					color:$error;
					background:$white;
					position: absolute;
					top:-10px;
					right:-10px;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all .1s linear;
					border: 1px solid $background;

					& > svg {
						width: 14px;
					}
					&:hover {
						cursor:pointer;
						background:$white2;
					}
				}


				&.new {
					border:2px dashed $accent;
					color:$accent;
					opacity: .7;
					box-sizing: border-box;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 2em;
					line-height: 2em;

					&:hover {
						cursor:pointer;
						opacity:1;
					}
				}
			}
		}
	}

	& > .checkLine {
		display:flex;
		align-items: center;
		.checkbox {
			margin-right:.3em;
			width:1.25em;
			height:1.25em;
			display:inline-block;
			overflow:hidden;

			.on > svg, .off > svg {
				width:1.25em;
				height:1.25em;
				fill:$white;
			}

			.off > svg {
				fill:$white2;
			}

			.on {
				display:none;
			}
			.off {
				display:block;
			}
		}
	}

	&.active {
		& > .checkLine {
			& > .checkbox > .on {
				display:block;
			}
			& > .checkbox > .off {
				display:none;
			}

		}
		& > .checkLine > .text {
			color:$white;
			position:relative;

			&::after {
				content:"- Active";
				display:inline-block;
				padding-left:10px;
				font-weight: bold;
				color:$accent;
			}
		}
	}

	&:not(.active) {
		& > .checkLine > .text {
			color:$white2;
		}
		& > .checkLine, & > .checkLine > *:hover {
			cursor:pointer;
		}
		& > .content {
			display:none;
		}
	}

	.checkLine {
		& > .text {
			color:$white;
			&:hover {
				cursor:pointer;
			}
		}

		&, & > *:hover {
			cursor:default;
		}
	}
}

.darker {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba($background, .95);
	z-index:998;
	display:none;

	&.show {
		display:block;
	}
}

.modal {
	position:fixed;
	width:500px;
	background-color:$background2;
	z-index:999;
	display: flex;
	flex-direction: column;

	border-radius:10px;

	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

	padding:20px;
	box-sizing: border-box;

	.title {
		color:$white;
		font-size:1.25em;
		font-weight: bold;
	}

	.doubleButton {
		margin-top:15px;
		display:flex;
		justify-content: center;
		gap:15px;
	}
	

	.inputBox {
		width:100%;
		display:flex;
		padding:2px 20px;

		& > .text {
			display:flex;
			align-items: center;
			justify-content: flex-start;
			min-width:150px;
		}

		& > *:nth-child(2) {
			flex:1;
			display:flex;
			align-items: center;
			justify-content: flex-start;

			& > input {
				width:80%;
			}
		}

		.note {
			padding-left:10px;
			font-size:.75rem;
		}
	}
}
