{{ define "LedControl.html" }}
<div class="ledControlPane">
	<div class="title"><div class="icono"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="var(--svg)"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 19l1.5-5h-4.5l7-9-1.5 5h4.5l-7 9z"/></svg></div>Led control</div>
	<div class="inputBox" style="padding-top:5px;padding-bottom:20px;">
		<div class="text">Brightness:</div>
		<div>
			<input type="range" name="" id="brightness" max="100" value="{{.LedActive.Brightness}}">&nbsp;<span id="brightnessVisual">{{.LedActive.Brightness}}%</span>
		</div>
	</div>
	<div class="option{{if eq .LedActive.ActiveMode "StaticColor"}} active{{end}}" mode="StaticColor">
			<div class="checkLine">
				<div class="checkbox">
					<div class="on"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v24h24v-24h-24zm11 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597z"/></svg></div>
					<div class="off"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24z"/></svg></div>
				</div>
				<label for="staticColor" class="text">Static color</label>
			</div>
			<div class="content">
				<!-- <input type="color" value="{{.CurrentLED}}"> -->
				<div class="colors">
					{{ range $i, $color := .LedPresets.StaticColor}}
						<div class="color {{if eq $color (index $.LedActive.Color 0)}}selected{{end}}" hex="{{$color}}">
							<div class="delete"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg></div>
							<div class="background" style="background-color:#{{$color}}"></div>
						</div>
					{{ end }}
					<div class="color new">+</div>
				</div>
			</div>
		</div>
		{{if index .UserConfiguration.LedControl 0}}
			<div class="option{{if eq .LedActive.ActiveMode "StaticGradient"}} active{{end}}" mode="StaticGradient">
				<div class="checkLine">
					<div class="checkbox">
						<div class="on"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v24h24v-24h-24zm11 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597z"/></svg></div>
						<div class="off"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24z"/></svg></div>
					</div>
					<label for="StaticGradient" class="text">Fading colors</label>
				</div>
				<div class="content">
					<!-- <input type="color" value="{{.CurrentLED}}"> -->
					<div class="colors">
						{{ range $i, $color := .LedPresets.StaticGradient}}
							<div class="color noInteraction" hex="{{$color}}">
								<div class="delete"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg></div>
								<div class="background" style="background-color:#{{$color}}"></div>
							</div>
						{{ end }}
						<div class="color new">+</div>
					</div>
				</div>
			</div>
		{{end}}
		{{if index .UserConfiguration.LedControl 1}}
			<div class="option{{if eq .LedActive.ActiveMode "FadingRainbow"}} active{{end}}" mode="FadingRainbow">
				<div class="checkLine">
					<div class="checkbox">
						<div class="on"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v24h24v-24h-24zm11 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597z"/></svg></div>
						<div class="off"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24z"/></svg></div>
					</div>
					<label for="FadingRainbow" class="text">Fading rainbow</label>
				</div>
				<div class="content">
					<div class="inputBox">
						<div class="text">Cooldown amount:</div>
						<div><input type="number" id="MSamountRainbow" placeholder="Milliseconds" value="{{.LedPresets.FadingRainbow}}"></div>
					</div>
					<button id="applyMSFadingRainbow">Apply milliseconds</button>
				</div>
			</div>
		{{end}}
		{{if index .UserConfiguration.LedControl 2}}
			<div class="option{{if eq .LedActive.ActiveMode "BreathingColor"}} active{{end}}" mode="BreathingColor">
				<div class="checkLine">
					<div class="checkbox">
						<div class="on"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v24h24v-24h-24zm11 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597z"/></svg></div>
						<div class="off"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24z"/></svg></div>
					</div>
					<label for="breathingColor" class="text">Breathing color</label>
				</div>
				<div class="content">
					<!-- <input type="color" value="{{.CurrentLED}}"> -->
					<div class="colors">
						{{ range $i, $color := .LedPresets.BreathingColor}}
							<div class="color {{if eq $color (index $.LedActive.Color 0)}}selected{{end}}" hex="{{$color}}">
								<div class="delete"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg></div>
								<div class="background" style="background-color:#{{$color}}"></div>
							</div>
						{{ end }}
						<div class="color new">+</div>
					</div>
					<div class="inputBox">
						<div class="text">Cooldown amount:</div>
						<div><input type="number" id="MSamountColors" placeholder="Milliseconds" value="{{.LedPresets.FadingRainbow}}"></div>
					</div>
					<button id="applyMSBreathingColor">Apply</button>
				</div>
			</div>
		{{end}}
	</div>
	<div class="darker">
		<div class="modal" activeMode="">
			<div class="title">Create new color</div>
			<div class="inputBox">
				<div class="text">Hex code:</div>
				<div>#<input type="text" placeholder="XXXXXX" id="newHex" maxlength="6"></div>
			</div>
			<div class="doubleButton">
				<button class="blancoNegro" id="cancelAddColor">Cancel</button>
				<button id="addColor">Add color</button>
			</div>
		</div>
	</div>
	<script src="/static/js/panels/LedControl.js"></script>
{{ end }}