<div class="category UserInfo" category="UserInfo">
	<div class="title">User info</div>
	<div class="details">Change your user info and password.</div>
	<div class="content">
		<div class="inputBox">
			<div class="text">Username:</div>
			<div><input type="text" placeholder="Your new username" value="{{ .UserConfiguration.UserInfo.Username}}" id="userInfo0"></div>
		</div>
		<div class="inputBox">
			<div class="text" style="padding-bottom:1.2em">Password:</div>
			<div style="width:100%;">
				<div  style="width:100%;">
					<input type="password" placeholder="Your new password" id="userInfo1"  style="width:80%;"> <br>
					<span style="font-size:.7em;line-height:.7em;">Leave empty if not changing.</span>
				</div>
			</div>
		</div>
		<div class="inputBox" style="margin-top:1em;">
			<div class="text">Avatar:</div>
			<div style="display:flex;"><div class="avatar" style="background-image: url('/api/avatar');"></div><span class="note">
				<- To change your avatar, simply place a file called "avatar.X" [X being the image extension jpg, png, webp or gif] in horus root folder. <br> No need to apply.</span></div>
		</div>
	</div>
	<button class="saveButton">Apply changes</button>
</div>
<div class="category ColorTheme" category="ColorTheme">
	<div class="title">Color theme</div>
	<div class="details">Change the interface's color theme.</div>
	<div class="content themeOptions">
		<div class="option {{if not .UserConfiguration.ColorModeDark}}selected{{end}}" theme="light">
			<div class="image" style="background-image:url('/static/images/themes/light.png')"></div>
			<div class="title">Light theme</div>
		</div>
		<div class="option {{if .UserConfiguration.ColorModeDark}}selected{{end}}" theme="dark">
			<div class="image" style="background-image:url('/static/images/themes/dark.png')"></div>
			<div class="title">Dark theme</div>
		</div>
	</div>
	<button class="saveButton">Apply changes</button>
</div>

<div class="category SessionSettings" category="SessionSettings">
	<div class="title">Session settings</div>
	<div class="details">Choose your preferred session-cookie lifetime span.</div>
	<div class="content">
		<input type="radio" name="sessionDurationType" id="sessionDuration0" {{if eq .UserConfiguration.SessionSettings.Lifespan -1}}checked{{end}}> <label for="sessionDuration0">Browser close</label><br>
		<div class="inputBox">
			<div class="text">
				<input type="radio" name="sessionDurationType" id="sessionDuration1" {{if ne .UserConfiguration.SessionSettings.Lifespan -1}}checked{{end}}>
				<label for="sessionDuration1">Specific:</label>
			</div>
			<div>
				<input type="number" id="sessionDuration2" placeholder="An integer. (e.g., 365)" {{if ne .UserConfiguration.SessionSettings.Lifespan -1}}value="{{.UserConfiguration.SessionSettings.Lifespan}}"{{end}}>
				&nbsp;
				<select id="sessionDuration3">
					<option value="min" {{if eq .UserConfiguration.SessionSettings.Unit "min"}}selected{{end}}>minutes</option>
					<option value="hour" {{if eq .UserConfiguration.SessionSettings.Unit "hour"}}selected{{end}}>hours</option>
					<option value="day" {{if eq .UserConfiguration.SessionSettings.Unit "day"}}selected{{end}}>days</option>
				</select>
			</div>
		</div>
		<div class="note">To apply this change completly, you will have to restart Horus from the server. <br>Once done, will apply in each client once they log back in.</div>
	</div>
	<button class="saveButton">Apply changes</button>
</div>

<div class="category LedControl" category="LedControl">
	<div class="title">Led Control</div>
	<div class="details">Choose what options you want to see in <b>Led Control</b> tab.</div>
	<div class="content">
		<input type="checkbox" disabled checked> <label for="">Show static</label><br>
		<input type="checkbox" id="ledControl0" {{if index .UserConfiguration.LedControl 0 }}checked{{end}}> <label for="ledControl0">Show static gradient</label><br>
		<input type="checkbox" id="ledControl1" {{if index .UserConfiguration.LedControl 1 }}checked{{end}}> <label for="ledControl1">Show fading rainbow</label><br>
		<input type="checkbox" id="ledControl2" {{if index .UserConfiguration.LedControl 2 }}checked{{end}}> <label for="ledControl2">Show breathing color</label>
	</div>
	<button class="saveButton">Apply changes</button>
</div>

<div class="category SystemStats" category="SystemStats">
	<div class="title">System stats</div>
	<div class="details">Choose what options you want to see in <b>System stats</b> tab.</div>
	<div class="content">
		<input type="checkbox" id="systemStats0" {{if index .UserConfiguration.SystemStats 0 }}checked{{end}}> <label for="systemStats0">Show temperature</label><br>
		<input type="checkbox" id="systemStats1" {{if index .UserConfiguration.SystemStats 1 }}checked{{end}}> <label for="systemStats1">CPU usage</label><br>
		<input type="checkbox" id="systemStats2" {{if index .UserConfiguration.SystemStats 2 }}checked{{end}}> <label for="systemStats2">RAM usage</label><br>
		<input type="checkbox" id="systemStats3" {{if index .UserConfiguration.SystemStats 3 }}checked{{end}}> <label for="systemStats3">Disk Space</label><br>
		<input type="checkbox" id="systemStats4" {{if index .UserConfiguration.SystemStats 4 }}checked{{end}}> <label for="systemStats4">System uptime</label><br>
		<span class="note">If no stat is shown, the tab will dissapear from the left navigator. To show it, you must show at least 1 system stat.</span>
	</div>
	<button class="saveButton">Apply changes</button>
</div>

<div class="category Logging" category="Logging">
	<div class="title">Logging</div>
	<div class="details">Choose wether to log (to a file) or not the user access, settings changes, etc. <br>
		Terminal logging will remain activated.
	</div>
	<div class="content">
		<input type="checkbox" id="logging0" {{if .UserConfiguration.Logging }}checked{{end}}> <label for="logging0">Enabled/disabled</label>
	</div>
	<button class="saveButton">Apply changes</button>
</div>

<div class="category Security" category="Security">
	<div class="title">Security</div>
	<div class="details">Choose wether to show another text field asking for a username [increased security] or to just prompt your password.</div>
	<div class="content">
		<input type="checkbox" id="security0" {{if .UserConfiguration.Security.UserInput }}checked{{end}}> <label for="security0">User has to input username on login</label>
	</div>
	<button class="saveButton">Apply changes</button>
</div>
<div class="category Units" category="Units">
	<div class="title">Units</div>
	<div class="details">Choose your preferred visual settings.</div>
	<div class="content">
		<div class="inputBox">
			<div class="text">Temperature:</div>
			<div>
				<select id="units1" style="min-width:120px;">
					<option value="C" {{if .UserConfiguration.Units.TemperatureC}}selected{{end}}>Celsius</option>
					<option value="F" {{if not .UserConfiguration.Units.TemperatureC}}selected{{end}}>Farenheit</option>
				</select>
			</div>
		</div>
	</div>
	<button class="saveButton">Apply changes</button>
</div>