@import 'base.scss';
@import 'panels/LedControl.scss';
@import 'panels/SystemStats.scss';
@import 'panels/Settings.scss';

body {
	background-color:$bg-4;
	background-image: radial-gradient($bg-dots 1px, transparent 0);
	background-size: 15px 15px;
	background-position: -19px -19px;

	& > .title {
		text-align: center;
		margin:30px 0;
		margin-bottom: 0;
		
		& > a {
			text-decoration: none;
			color:$accent;
		}
	}

	& > .subtitleOuter {
		text-align: center;
		margin-bottom:10px;

		& > .subtitle, & > .subtitle:link, & > .subtitle:visited {
			text-decoration: none;
			color:$textPrimary2;
			font-weight: lighter;
			font-size: 16px;
			
			svg {
				width:14px;
				height:14px;
				fill:$textPrimary2;
			}
			
			&:hover {
				text-decoration: underline;
			}

		}
	}


	& > .mainContent {
		margin: 0 auto;
		height:100%;
		display:flex;
		max-width:1000px !important;
		padding-top:20px;
	
		& > .leftNav {
			width:200px;
			height:auto;

			display:flex;
			flex-direction: column;
			align-items: center;
	
			& > .separator {
				margin:auto 0;
				width:0;
				height:0;
			}

			& > .element {
				width:100%;
				padding:.6em 22px;
				position:relative;
				box-sizing: border-box;
				background:$bg-1;

				display: flex;
				gap:.5em;
				align-items: center;

				box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
				
				&, & * {
					text-decoration: none !important;
				}

				&.upperRadius {
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
				}

				&.lowerRadius {
					border-bottom-left-radius: 15px;
					border-bottom-right-radius: 15px;
				}

				&.active {
					background:$bg-4 !important;
				}
				
				&.showNotification[element-category='Settings']::after {
					content:'New version available';
					background:$accent;
					color:white;

					position:absolute;
					top:-7px;
					right:-5px;
					display:block;
					padding:1px 4px;
					border-radius:6px;

					font-weight:bold;
					font-size:.8em;
				}
				
				&.showErrorNotification[element-category='Settings']::after {
					content:'Error checking for newer version';
					background:$error;
					color:white;

					position:absolute;
					top:-7px;
					right:-5px;
					display:block;
					padding:1px 4px;
					border-radius:6px;

					font-weight:bold;
					font-size:.8em;
				}
	
				&:not(.user) {
					transition:background .1s linear;

					&:hover {
						background:$bg-3;
					}

					& > .icon {
						background: rgba($accent, .07);
						--svg: #855CDE;

						width:40px;
						height:40px;
						border-radius:.25rem;

						display: flex;
						justify-content: center;
						align-items: center;
					}

					& > .text {
						color:$textPrimary;
						flex:1;
					}
					
					&.logOut {
						& > .icon {
							--rojo:rgb(201 0 0);
							background:rgba($error, .08);
						}
					}
				}
	
				&.user {
					&:hover {
						cursor:default;
					}

					& > .avatar {
						position:relative;
						width:40px;
						height:40px;
						border-radius:.25rem;

						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
	
						&::after {
							content:"";
							position:absolute;
							bottom:-3px;
							right:-3px;
							width: 12px;
							height:12px;
							border-radius: 100%;
							display:block;
							background-color: $success;
						}
					}
	
					& > .texts {
						height:40px;
						display:flex;
						flex-direction: column;
	
						& > .username {
							color:$textPrimary;
							font-weight: bold;
							font-family: "Familjen Grotesk", sans-serif;
						}
	
						& > .status {
							font-size: 14px;
							color:$textPrimary2;
						}
					}
				}
			}
	
		}
		
		& > .rightNav {
			background-color:$bg-1;
			height:calc(100vh - calc(40px + 30px + 20px + 10px + 20px + 50px));
			flex:1;
			border-radius:15px;
			padding:20px 40px;
			padding-bottom:40px;
			margin-left:15px;

			box-sizing: border-box;
			box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
			
			overflow:hidden;
			overflow-y:auto;
	
			& > *:not(.darker) {
				width:100%;
				height: auto;

				display:flex;
				flex-direction: column;
				align-items: center;
	
				& > .title {
					height:25px;
					margin-right:auto;
					margin-bottom:15px;

					font-family: "Familjen Grotesk", sans-serif;
					color:$accent;
					font-weight: bold;
					font-size:25px;
					line-height:25px;
					
					display:flex;
					justify-content: center;
					align-items: center;
	
					.icon {
						--svg:#855CDE;
						height:25px;
						margin-right:5px;
						padding-top:3px;
						line-height:25px;

						display:flex;
						justify-content: center;
						align-items: center;

					}
				}
			}
		}
	}
}




@media (width < 1020px) {
	.mainContent {
		margin:unset !important;
		padding-left:20px !important;
		padding-right:20px !important;
	}

}

$radius:10px;
$bottom-nav-height:50px;

@media (width < 760px) {
	body {
		display: flex !important;
		flex-direction: column !important;
		// height:100vh !important;
		height:-webkit-fill-available !important;
	}
	html {
		height:-webkit-fill-available !important;
	}
	body > .title {
		margin:0 !important;
	}
	.mainContent { 
		flex:1 !important;
		padding:0 20px !important;
		flex-direction: column-reverse;
		height:calc(100vh - 40px - 20px - 10px) !important;

		
		& > .leftNav {
			width:100% !important;
			max-height:$bottom-nav-height !important;
			overflow:hidden;
			margin-top:10px !important;
			margin-bottom:10px !important;

			border-radius: 6px !important;

			flex-direction:  row !important;
			
			& > .separator {
				margin:0 10px !important;
			}
			& > .element {
				flex:1;
				width:unset !important; 
				border-radius: 0 !important;
				box-shadow:none !important;
				padding: 0.6em 10px !important;
				justify-content: space-evenly !important;



				height:$bottom-nav-height !important;

				&:nth-child(2), &:nth-child(5) {
					border-right:2px dashed rgba($accent, .3);
				}
				
				
				&:nth-child(2), &.upperRadius {
					border-top-left-radius: $radius !important;
					border-bottom-left-radius: $radius !important;
				}

				&.lowerRadius {
					border-top-right-radius: $radius !important;
					border-bottom-right-radius: $radius !important;
				}

				&.user {
					display:none !important;
				}
				&.showNotification::after, &.showErrorNotification::after {
					display:none !important;
				}


				& > .icon {
					width:30px !important;
					height:30px !important;

					& > svg {
						width:16px !important;
						height:16px !important;
					}
				}
				& > .text {
					color:$textPrimary2 !important;
					font-size:.9em !important;
					flex:unset !important;
				}
				&.active {
					& > .text {
						color:$textPrimary !important;
					}
				}
			}
		}
		& > .rightNav {
			margin:0 !important;
			flex:1 !important;
			height:unset !important;
			max-height: unset !important;
			min-height: unset !important;
			// min-height:calc(100vh - calc(40px + 20px + 10px + $bottom-nav-height + 10px + 3px)) !important;
			// max-height:calc(100vh - calc(40px + 20px + 10px + $bottom-nav-height + 10px + 3px)) !important;
		}
	}
}

@media (width < 560px) {
	.mainContent {
		padding:0 10px !important;

		& > .leftNav {
			& > .separator {
				margin:0 !important;
			}

			& > .element {
				flex-direction: column;
				border-radius: 0 !important;
				gap:2px !important;

				& > .icon {
					background:transparent !important;
				}
				
				&.upperRadius {
					border-top-left-radius: 0 !important;
					border-bottom-left-radius: 0 !important;
				}

				&.lowerRadius {
					border-top-right-radius: 0 !important;
					border-bottom-right-radius: 0 !important;
				}

				& > .text {
					font-size:.8em !important;
				}
				&:nth-child(3) {
					border-right:2px dashed rgba($accent, .3) !important;
				}
			}
		}
	}
}

@media (width < 390px) {
	.mainContent {
		& > .leftNav {
			& > .element {
				& > .text {
					font-size:.6em !important;
				}
			}
		}
	}
}