@import 'base.scss';
@import 'panels/LedControl.scss';
@import 'panels/SystemStats.scss';
@import 'panels/Settings.scss';


body {
	background-color:$bg-4;
	background-image: radial-gradient($bg-dots 1px, transparent 0);
	background-size: 15px 15px;
	background-position: -19px -19px;
	& > .title {
		& > a {
			text-decoration: none;
			color:$accent;
		}
		text-align: center;
		margin:30px 0;
		margin-bottom: 0;
	}

	& > .subtitle {
		text-decoration: none;
		color:$textPrimary2;
		text-align: center;
		font-weight: lighter;
		font-size: 16px;
		margin:0;
		margin-bottom:10px;
	}

	& > .mainContent {
		margin: 0 auto;
		height:100%;
		display:flex;
		max-width:1000px !important;
		padding-top:20px;
	
		& > .leftNav {
			width:200px;
			display:flex;
			flex-direction: column;
			align-items: center;
			// padding-bottom:20px;
	
			// height:calc(100vh - calc(40px + 30px + 20px + 10px + 20px + 50px));
			height:auto;
	
			& > .element {
				box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
				&, & * {
					text-decoration: none !important;
				}
				display: flex;
				align-items: center;
				width:100%;
				gap:.5em;
				padding:.6em 22px;
				box-sizing: border-box;

				&.upperRadius {
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
				}

				&.lowerRadius {
					border-bottom-left-radius: 15px;
					border-bottom-right-radius: 15px;
				}
				background:$bg-1;

	
	
				&:not(.user) {
					& > .icono {
						width:40px;
						height:40px;
						background: rgba($accent, .07);
						display: flex;
						justify-content: center;
						align-items: center;
						--svg: #855CDE;
						border-radius:.25rem;
					}
					& > .texto {
						color:$textPrimary;
						flex:1;
					}
					&:hover {
						background:$bg-3;
					}
					transition:background .1s linear;
					
		
					&:nth-last-child(2) {
						margin-top:auto;
					}
					&.logOut {
						& > .icono {
							--rojo:rgb(201 0 0);
							background:rgba($error, .08);
						}
					}
				}
	
				&.user {
					// padding-top:0;
					cursor:default;
					& > .avatar {
						width:40px;
						height:40px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						border-radius:.25rem;
						position:relative;
	
						&::after {
							content:"";
							display:block;
							position:absolute;
							background-color: $online;
							bottom:-3px;
							right:-3px;
							width: 12px;
							height:12px;
							border-radius: 100%;
						}
					}
	
					& > .texts {
						display:flex;
						flex-direction: column;
						height:40px;
	
						& > .username {
							color:$textPrimary;
							font-weight: bold;
							font-family: "Familjen Grotesk", sans-serif;
						}
	
						& > .status {
							font-size: 14px;
							color:$textPrimary2;
						}
					}
				}
			}
	
		}
	
		
		& > .rightNav {
			box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
			flex:1;
			background-color:$bg-1;
			// height:450px;
			border-radius:15px;
			padding:20px 40px;
			padding-bottom:40px;
			box-sizing: border-box;

			margin-left:15px;
			
			height:calc(100vh - calc(40px + 30px + 20px + 10px + 20px + 50px));
			overflow:hidden;
			overflow-y:auto;
	
			& > *:not(.darker) {
				display:flex;
				flex-direction: column;
				align-items: center;
				width:100%;
				height: auto;
	
				& > .title {
					font-family: "Familjen Grotesk", sans-serif;
					font-weight: bold;
					font-size:25px;
					line-height:25px;
					height:25px;
					color:$accent;
					margin-right:auto;
					margin-bottom:15px;
					display:flex;
					justify-content: center;
					align-items: center;
	
					.icono {
						line-height:25px;
						height:25px;
						margin-right:5px;
						display:inline-block;
						--svg:#855CDE;
						display:flex;
						justify-content: center;
						align-items: center;
						padding-top:3px;
					}
				}
			}
		}
	}
}