@import 'base.scss';
@import 'panels/LedControl.scss';
@import 'panels/SystemStats.scss';
@import 'panels/Settings.scss';


body {
	& > .title {
		& > a {
			text-decoration: none;
			color:$accent;
		}
		text-align: center;
		margin:30px 0;
		margin-bottom: 0;
	}

	& > .subtitle {
		text-decoration: none;
		color:$white2;
		text-align: center;
		font-weight: lighter;
		font-size: 16px;
		margin:0;
		margin-bottom:10px;
	}

	& > .mainContent {
		margin: 0 auto;
		height:100%;
		display:flex;
		max-width:1000px !important;
		padding-top:20px;
	
		& > .leftNav {
			width:200px;
			display:flex;
			flex-direction: column;
			align-items: center;
			padding-bottom:20px;
	
			// height:calc(100vh - calc(40px + 30px + 20px + 10px + 20px + 50px));
			height:auto;
	
			& > .element {
				&, & * {
					text-decoration: none !important;
				}
				display: flex;
				align-items: center;
				width:100%;
				gap:.5em;
				padding:.6em 22px;
				box-sizing: border-box;
	
	
				&:not(.perfil) {
					& > .icono {
						width:40px;
						height:40px;
						background:rgb(255, 246, 230);
						display: flex;
						justify-content: center;
						align-items: center;
						--svg:#e3b36b;
						border-radius:.25rem;
					}
					& > .texto {
						color:$white;
						flex:1;
					}
					
		
					&:nth-last-child(2) {
						margin-top:auto;
						& > .icono {
							--rojo:rgb(201 0 0);
							background:rgb(255 236 232);
						}
					}
					&:nth-last-child(1) {
						& > .icono {
							--rojo:rgb(201 0 0);
							background:rgb(255 236 232);
						}
					}
				}
	
				&.user {
					padding-top:0;
					cursor:default;
					& > .avatar {
						width:40px;
						height:40px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						border-radius:.25rem;
						position:relative;
	
						&::after {
							content:"";
							display:block;
							position:absolute;
							background-color: $online;
							bottom:-3px;
							right:-3px;
							width: 12px;
							height:12px;
							border-radius: 100%;
						}
					}
	
					& > .texts {
						display:flex;
						flex-direction: column;
						height:40px;
	
						& > .username {
							color:$white;
							font-weight: bold;
							font-family: "Familjen Grotesk", sans-serif;
						}
	
						& > .status {
							font-size: 14px;
							color:$white2;
						}
					}
				}
			}
	
		}
	
		
		& > .rightNav {
			flex:1;
			background-color:$background3;
			// height:450px;
			border-radius:15px;
			padding:20px 40px;
			padding-bottom:40px;
			box-sizing: border-box;
			
			height:calc(100vh - calc(40px + 30px + 20px + 10px + 20px + 50px));
			overflow:hidden;
			overflow-y:auto;
	
			& > * {
				display:flex;
				flex-direction: column;
				align-items: center;
				width:100%;
				height: auto;
	
				& > .title {
					font-family: "Familjen Grotesk", sans-serif;
					font-weight: bold;
					font-size:25px;
					line-height:25px;
					height:25px;
					color:$white;
					margin-right:auto;
					margin-bottom:15px;
					display:flex;
					justify-content: center;
					align-items: center;
	
					.icono {
						line-height:25px;
						height:25px;
						margin-right:5px;
						display:inline-block;
						--svg:white;
						display:flex;
						justify-content: center;
						align-items: center;
						padding-top:3px;
					}
				}
			}
		}
	}
}