$accent: #855CDE;

$bg-1:#222222;
$bg-2:#212121;
$bg-3:#1E1E1E;
$bg-4:#181818;
$bg-dots:rgba($accent, .5);

$textPrimary:#FFFFFF;
$textPrimary2:#bbbbbb;

$error:#c70a0a;
$success:#23A55A;
$online:#23A55A;

// System Stats Graphs
$good:#23A55A;
$warning:#fffb00;
$danger:#c70a0a;

