$accent: #855CDE;

$bg-1:#FFFFFF;
$bg-2:#F9F9F9;
$bg-3:#F5F5F5;
$bg-4:#F2F2F2;
$bg-dots:rgba($accent, .5);

$textPrimary:#000000;
$textPrimary2:#525151;

$error:#c70a0a;
$success:#23A55A;
$online:#23A55A;

// System Stats Graphs
$good:#23A55A;
$warning:#fffb00;
$danger:#c70a0a;

